* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }
    
  #container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgb(197, 111, 40);
   
  }
    
  #boxe-mensagem {
    width: 100%;
    text-align: center;
    margin-top: 200px;
    font-size: 1.5em;
    padding-left: 50px;
    color: #353535;
    
  }
  
  #icone-enviado {
    width: 50px;
    margin-bottom: 20px;
  }
  