* {
    margin: 0;
    box-sizing: border-box;
    }
    
#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    
    }
#lado-esquerdo {
    background-image: url(./lowell2.jpg);
    background-size: cover;
    
}
#titulo {
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-style: italic;
    color: rgb(197, 111, 40);
}
#texto {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    border-radius: 50px;
    border-width: 50px;
    font-size: 25px;
    background-color: rgba(223, 217, 183, 0.671);
    color: rgb(15, 90, 109);
    margin: 100px;
    
}
#beneficios {
    text-align: center;
}
ul {
    margin: 20px;
}

#lado-direito {
    background-color: rgb(197, 111, 40);
    width: 30%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    
    
}
.campo-formulario {
    margin-top: 15px;
    display: block;
    width: 100%;
    
    
}
#botao-enviar {
    margin-top: 20px;
    background: rgb(15, 90, 109);
    border-radius: bold;
    padding: 10px 20px;
    border: none;
    float: right;
    cursor: pointer;
}

#botao-enviar:hover {
    font-weight: bold;
}
@media screen and (max-width:767px){
    #container {
        flex-direction: column;
    } 
    #lado-direito {
        width: 100%;
        padding: 100px;
    }
    #titulo{
        font-size: 20px;
    }
    #texto {
        font-size: 15px;
    }
    
    
}














